<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>FORMULARIOS</h1>
    <h3>Escoja cualquiera de los siguientes formularios:</h3>
    <ul>
        <li><a href="inscripciones.html">Inscripcion en curso</a></li>
        <li><a href="registro_usuarios.html">Registro de usuarios</a></li>
        <li><a href="registro_libros.html">Registro de libros</a></li>
        <li><a href="registro_productos.html">Registro de productos</a></li>
    </ul>
</body>
</html>