<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Registro de usuarios</h1>
    <form action="/usuario" method="POST">
      Nombre: <input type="text" name="nombre" />
      <br />
      Apellidos: <input type="text" name="apellidos" />
      <br />
      Correo electrónico: <input type="email" name="email" />
      <br />
      Contraseña: <input type="password" name="password" />
      <br />
      <div class="bton">
        <input type="submit" />
      </div>
    </form>
  </body>
</html>
